<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/cart.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <div id="logo">
          <img id="imgLogo" src="../images/logoTicketHack.png" alt="logo du site TicketHack" />
        </div>
        <div id="links">
          <a href="./cart.html">Cart</a>
          <a href="./booking.html">Bookings</a>
        </div>
      </nav>
    </header>
    <main>
      <div id="container">
        <p>No tickets in your cart.</p>
        <p>Why not plan a trip?</p>
      </div>
    </main>
    <script src="../javascript/cart.js"></script>
  </body>
</html>
